.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  /* margin: 0px 3px 6px; */
  text-align: center;
  border: 2px solid #ADFF2F;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
  margin-top: 1%;
  margin-left: 1%;
} 


.hbtn i {
  padding-right: 8px;
} 


.green-button::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: 2px solid rgb(255, 255, 255);
} 


.green-button:hover::before {
  width: 0px;
  height: 100%;
  opacity: 1;
} 


.green-button {
  background: white;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
} 


.green-button:hover {
  background: transparent;
  color: #ADFF2F;
  transition: all 0.3s ease 0s;
} 


.green-button::after {
  position: absolute;
  content: "";
  background: #ADFF2F;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: 2px solid #ADFF2F;
}


.green-button:hover::after {
  width: 0px;
} 

.red-button::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: 2px solid rgb(255, 255, 255);
} 


.red-button:hover::before {
  width: 0px;
  height: 100%;
  opacity: 1;
} 


.red-button {
  background: white;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
} 


.red-button:hover {
  background: transparent;
  color: #FF0000;
  transition: all 0.3s ease 0s;
} 


.red-button::after {
  position: absolute;
  content: "";
  background: #FF0000;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: 2px solid #FF0000;
}


.red-button:hover::after {
  width: 0px;
} 

/* BUTTON CSS */
.btn-style {
  background-color: #ADFF2F;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1em;
}

.btn-style:focus {
  outline: 0;
}

.btn-style:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-style:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
    .btn-style {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

