* {
    letter-spacing: 2px;
    /* background-color: #ADFF2F; */
}

a {
    all: unset;
}

/* header  */
.top {
    color: #ADFF2F;
    background-color: #ADFF2F;
    height: 40px;
}

/* footer */
.bottom {
    color: #ADFF2F;
    background-color: #ADFF2F;
    height: 40px;
}


/* tooggle dark-mode */
.dark-mode {
    background-color: black;
    color: white;
  }



/*** buttons starts ***/

#btn-dark-mode{
    margin-bottom: 6%;
    padding: 0.3%;
    background-color: #ADFF2F;
    color: black;
}
.buttonone {
    margin-left: 28%;
    background-color: #ADFF2F;
    color: black;
}

.buttontwo {
   
    background-color: #ADFF2F;
    color: black;
}

.buttonthree {
   margin-left: 16%;
   margin-right: auto;
    width: 200px;
    background-color: #ADFF2F;
    color: black;
}
/***** buttons finish ******/

.logo {
    width: 250px;
    /* margin-left: 485px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/* form inputs */
.inputs {
    width: 300px;
    /* margin-left: 400px; */
    height: 30px;
    background-color: white;
}


/* google recaptcha div */

#html_element{
    width: 250px ;
    /* margin-left: auto ;
    margin-right: auto; */
}

/* parent div to form, button and logo */
.logincontent {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
}






/*
body {
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
    font-size: 12px;
}


#facebook {
    border: solid royalblue 2px;
    background-color: royalblue;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 2px;
}

#apple {
    border: solid black 2px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 2px;
}

.or {
    background-color: white;
    color: white;
}

#email {
    width: 100%;
    margin-bottom: 10px;
}

#password {
    width: 100%
}

#login {
    border: solid #1DB954 2px;
    background-color: #1DB954;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 2px;
    width: 50%;

}

.rememberMee {
    font-size: 10px;
    color: lightgray;
    font-weight: bold;
}

.password {
    color: #1DB954;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#sign-up {
    border: solid black 1.5px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}

.footer {
    color: lightgray;
    font-size: 10px;
}

.green-words {
    color: #1DB954;
} */
